.mui-content{
	padding-bottom:0.666667rem;
}
.white-header{
	text-align: center;
	height:1.173333rem;
	line-height: 1.173333rem;
	border-bottom: 1px solid #DEDEDE;
	background: #fff;
	font-size: 0.48rem;
	color: #444444;
}
.header-back{
	position: absolute;
	top: 0.373333rem;
	left: 0.453333rem;
	background: url(../imgs/icons/arrow-left.png) no-repeat;
	background-size:0.253333rem;
	width: 0.253333rem;
	height: 0.48rem;
}
.portraitWraper{
	position: relative;
	height: 10.466667rem;
	background: -webkit-gradient(linear,center top,center bottom,from(#70b0ff), to(#28a6f4));
	background: gradient(linear,center top,center bottom,from(#70b0ff), to(#28a6f4));
}
.portraitIcon{
	position: absolute;
	top:3.6rem;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	width: 2.933333rem;
	height: 2.933333rem;
	text-align: center;
	border-radius: 100%;
	border: 1.0rem solid #70b9fb;
	box-sizing: content-box;
	-webkit-box-shadow: 0px 0px 0px 1.333333rem #6ab2fd;
	        box-shadow: 0px 0px 0px 1.333333rem #6ab2fd;
}
.portraitImg{
	width: 2.933333rem;
	height: 2.933333rem;
	border-radius: 100%;
	border:5px solid #42c0f7;
	position: absolute;
    left: 0;
}
.subTitle{
	top: 1.6rem;
	font-size: 0.346667rem;
}
.nameTitle{
	top: 2.88rem;
	font-size: 0.8rem;
	z-index: 1;
}
.subTitle,
.nameTitle{
	position: absolute;
	color: #fff;
	text-align: center;
	width: 100%;
}
.portraitBg{
	position: absolute;
	height: 3.333333rem;
	width: 3.333333rem;
    left: -0.2rem;
    top: -0.2rem;
	background-image: url('../imgs/header-bg.png');
	background-size:3.346667rem;
	-webkit-animation:rotate360 2s infinite linear;
	        animation:rotate360 2s infinite linear;
}
.portraitIcon:before{
	content: url(../imgs/clclcl.png);
	-webkit-transform: scale(0.5);
    	    transform: scale(0.5);
	position: absolute;
    top: -0.92rem;
    left: 2.8rem;
}
@-webkit-keyframes rotate360
{
	from {
		-webkit-transform: rotateZ(0deg);
		        transform: rotateZ(0deg);
	}
	to {
		-webkit-transform: rotateZ(360deg);
		        transform: rotateZ(360deg);
	}
}
@keyframes rotate360
{
	from {
		-webkit-transform: rotateZ(0deg);
		        transform: rotateZ(0deg);
	}
	to {
		-webkit-transform: rotateZ(360deg);
		        transform: rotateZ(360deg);
	}
}
.btnWraper{
    font-size: 0.453333rem;
    color: #0ea3f0;
    background-color: #fff;
    line-height: 1.173333rem;
    border-radius: 0.586667rem;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -0.586667rem;
    margin: 0 auto;
    width: 7.2rem;
    -webkit-box-shadow: 0px 0px 0.266667rem 0.133333rem #b3ddf7;
	        box-shadow: 0px 0px 0.266667rem 0.133333rem #b3ddf7;
}
.icon{
	display: inline-block;
	vertical-align: middle;
	height:0.533333rem;
	width: 0.533333rem;
	background: url(../imgs/icons/phone.png) no-repeat center;
}
.icon-phone{
	margin:0 0.4rem 0 0.666667rem;
	background-size:0.4rem;
}
.callNum{
	color: #0ea3f0;
	padding-left: 0.666667rem;
	border-left: 1px solid #0ea3f0;
}
.btmWraper{
	margin: 1.466667rem auto 0px;
	width: 8.266667rem;
	border-radius: 5px;
	border:1px dashed #b5b5b5;
	text-align: center;
	padding:0.266667rem 0.133333rem 0.533333rem;
}
.btmWraper h4,
.btmWraper p{
	font-size: 0.4rem;
	color: #b5b5b5;
	
}
.btmWraper p{
	line-height: 0.666667rem;
}
.btmWraper h4{
	line-height: 1.2rem;
}

/*************assistant-list***************/
.assistant-header-img{
    position: relative;
    margin-bottom:-0.533333rem;
    z-index: 1
}
.assistant-header-img img{
	width:100%;
	height:100%;
}
.mui-content-list{
	z-index:0;
	margin-top:-0.6rem;
	padding: 0;
	margin-bottom:1.6rem;
}
.mui-grid-view.mui-grid-9{
	border-top: 0;
}
.mui-grid-view.mui-grid-9 .padding240{
	padding:1.066667rem 0 0.533333rem;
}
.mui-grid-view.mui-grid-9 .padding200{
	padding:0.533333rem 0;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	border-bottom:1px solid #DEDEDE;
	border-color: #DEDEDE;
	background: #FFFFFF;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn){
	padding: 0;
}

.assistant-img1{
	background: url(../imgs/icons/assistant-img1.png);
	background-size: 0.933333rem;
}
.assistant-img2{
	background: url(../imgs/icons/assistant-img2.png);
	background-size: 0.933333rem;
}
.assistant-img3{
	background: url(../imgs/icons/assistant-img3.png);
	background-size: 0.933333rem;
}
.assistant-img4{
	background: url(../imgs/icons/assistant-img4.png);
	background-size: 0.933333rem;
}
.assistant-img5{
	background: url(../imgs/icons/assistant-img5.png);
	background-size: 0.933333rem;
}
.assistant-img6{
	background: url(../imgs/icons/assistant-img6.png);
	background-size: 0.933333rem;
}
.assistant-img7{
	background: url(../imgs/icons/assistant-img7.png);
	background-size: 0.933333rem;
}
.assistant-img8{
	background: url(../imgs/icons/assistant-img8.png);
	background-size: 0.933333rem;
}
.assistant-img9{
	background: url(../imgs/icons/assistant-img9.png);
	background-size: 0.933333rem;
}
.assistant-img10{
	background: url(../imgs/icons/assistant-img10.png);
	background-size: 0.933333rem;
}
.assistant-img11{
	background: url(../imgs/icons/assistant-img11.png);
	background-size: 0.933333rem;
}
.assistant-img12{
	background: url(../imgs/icons/assistant-img12.png);
	background-size: 0.933333rem;
}
.mui-icon{
	width:0.94rem;
	height:0.933333rem;
	margin-bottom:0.36rem;
	background-repeat: no-repeat;
	background-position:center;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
	font-size: 0.32rem;
	margin-top:-0.1rem;
	padding-right: 0;
}
/*fixedBottom*/
.fixedBottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	height:1.293333rem;
	font-size: 0.266667rem;
	background-color: #fff;
	border-top: 1px solid #DEDEDE;
}
.btmbox {
	display: inline-block;
	text-align: center;
	width: 30%;
}
.btmIcon {
	display: inline-block;
	height:0.64rem;
	width:0.586667rem;
	background-repeat: no-repeat;
	background-position: center;
	margin-top:0.12rem;
}
.btmbox0 {
	float: left;
}
.btmbox2 {
	float: right;
}
.btmIcon0 {
	background-image:url(../imgs/icons/house1.png);
	background-size:0.586667rem;
}
.btmIcon1 {
	background-image: url('../imgs/icons/assistant-blue.png');
	background-size:0.586667rem;
}
.btmIcon2 {
	background-image:url('../imgs/icons/person.png');
	background-size:0.426667rem;
}
.btmbox div{
	height:0.506667rem;
	line-height:0.506667rem;
	margin-top:-6px;
	color: #cccccc;
}

/*assistant-pledge*/
.assi-title{
	background: #FFFFFF;
	position: relative;
	font-size: 0;
}
.assi-title-icon{
	position: absolute;
	left: 0;
	top:0.4rem;
	display: inline-block;
	margin-right: 0.32rem;
	width: 0.1333333333rem;
	height: 0.453333rem;
	background: #0ea3f0;
}
.assi-title-name{
	font-size:0.453333rem;
	color: #444444;
	display:block;
	padding:0.373333rem 0;
	margin-left:0.453333rem;
	border-bottom:1px solid #DEDEDE;
}

.assi-content{
	padding:0 0.453333rem;
	border-bottom: 1px solid #DEDEDE;
	background: #FFFFFF;
	margin-bottom:0.266667rem;
}
.assi-content ul{
	padding:0.333333rem 0;
	
}
.assi-content ul li{
	line-height:0.8rem;
	font-size:0.4rem;
	color: #666666;
	width: 100%;
	overflow: hidden;
}

/*assisstant-produres*/
.assistant-procedures{
	background:#fff;
	margin-top:0.293333rem;
}
.assistant-list{
	padding:0.48rem 0 0.453333rem 0.453333rem;
	border-bottom:1px solid #DEDEDE;
}
.assistant-list li{
	display:flex;
	padding:0.453333rem 0;
	border-bottom:1px solid #DEDEDE;
}
.assistant-list li:last-child{
	border-bottom:none;
	padding-bottom:0;
}
.assisstant-listcon{
	margin-left:0.666667rem;
	vertical-align:middle;
	font-size: 0.4rem;
	margin-right:0.453333rem;
	color:#444444;
}
.assisstant-listcon p{
	margin-top:0.133333rem;
	line-height:0.453333rem;
	font-size: 0.293333rem;
	color:#999999;
}

.assisstant-listcon a{
	text-decoration: underline;
	color: #0ea3f0;
}

.assistant-list-imgbg{
	-webkit-flex-shrink:0;
	        flex-shrink:0;
	width:1.173333rem;
	height:1.173333rem;
}
.assistant-list-img1{
	background:url('../../static/imgs/icons/banli-list1.png');
	background-size:1.173333rem;
}
.assistant-list-img2{
	background:url('../../static/imgs/icons/banli-list2.png');
	background-size:1.173333rem;
}
.assistant-list-img3{
	background:url('../../static/imgs/icons/banli-list3.png');
	background-size:1.173333rem;
}
.assistant-list-img4{
	background:url('../../static/imgs/icons/banli-list4.png');
	background-size:1.173333rem;
}
.assistant-list-img5{
	background:url('../../static/imgs/icons/banli-list5.png');
	background-size:1.173333rem;
}
.assistant-list-img6{
	background:url('../../static/imgs/icons/banli-list6.png');
	background-size:1.173333rem;
}

/****************cpcc-checkaddress*******************/
.order-serve-handing{
	margin:1.333333rem 0;
}
.linkage-button{
	position: relative;
}
.linkage-button-ul{
	width: 100%;
	height:0.88rem;
	line-height:0.88rem;
	background: #fff;
	border-bottom: 1px solid #DEDEDE;
}
.linkage-button-ul li{
	float: left;
	height: 0.48rem;
	width: 50%;
	border-left: 1px solid #DEDEDE;
	text-align: center;
	font-size:0.346667rem;
	margin:0.2rem 0;
	position: relative;
}
.linkage-button-ul li:first-child{
	border-left: none;
}
.linkage-button-ul li span{
	height:0.48rem;
	width: 100%;
	line-height:0.48rem;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.triangle{
	position: absolute;
	width:0.226667rem;
	height:0.106667rem;
	right: 25%;
	top:0.2rem;
	background-repeat: no-repeat;
	background-position:center bottom;
}
.pull-down{
	background:url(../imgs/icons/triangle-down.png);
	background-size: 0.226667rem;
}
.pull-up{
	background:url(../imgs/icons/triangle-up.png);
	background-size: 0.226667rem;
}

/*address*/
.addr-content{
	padding:0 0.4533333333rem;
	background: #ffffff;
	border-bottom: 1px solid #DEDEDE;
	color: #444444;
	margin-top: 0.266667rem;
}
.addr-content p{
	height:1.333333rem;
	line-height:1.333333rem;
	font-size:0.4rem;
	text-align: center; 
	color:black;
	border-bottom: 1px solid #DEDEDE;
}
.addr-info{
	padding:0.2666666667rem 0;
	margin-right:0.453333rem;
}
.addr-constatus{
	padding-right: 0;
	font-size: 0.4rem;	
}
.addr-constatus dl{
	line-height:0.8rem;	
}
.addr-info dl{
	display: box;			  /* OLD - Android 4.4- */
	display: -webkit-box;	  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -webkit-flex;	 /* NEW - Chrome */
	display: flex;
	-webkit-align-content:flex-start;
	        align-content:flex-start;
}
.addr-conname{
	display: inline-block;
	color: #444444;
	-webkit-flex-shrink:0;
	        flex-shrink:0;
}
.addr-conmsg{
	display: inline-block;
	color: #898989;
}

















